{% extends "requester/base.html" %}
{% load notifications_tags %}
{% load static %}

  {% block head %}
    <script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
    {% register_notify_callbacks callbacks='fill_notification_list,fill_notification_badge' %}
  {% endblock %}
  
  {% block content %}
  <div class="container-fluid">
    <div class="row">

      <nav id="sidebarMenu" class="col-md-4 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3">
          <form class="mx-auto" action="" method="get">
            <fieldset class="form-group">
              <legend class="border-bottom mb-4">Filter Requests</legend>
              {{ filterset.form.as_p }}
            </fieldset>
            <input class="btn btn-info my-3" type="submit" value="Filter">
          </form>
          <hr class="my-4">
          <h2>Notifications</h2>
          <div class="nav flex-column">
            {% live_notify_list %}
          </div>
        </div>
      </nav>

      <main class="col-md-8 ms-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
        <div class="container">
          <div class="py-5 text-center">
            <h1>Welcome Back {% ifequal user.groups.all.0|stringformat:"s" 'Student' %}
              {{ user.studentprofile.firstName}} {{ user.studentprofile.lastName}}
            {% endifequal %}
            {% ifequal user.groups.all.0|stringformat:"s" 'Lecturer' %}
              {{ user.lecturerprofile.firstName}} {{ user.lecturerprofile.lastName}}
            {% endifequal %}!</h1>
           
            <p class="lead">The request from other webapp members are shown below. You can read full details by clicking View details. If you want to sort your requests, please use below _______ . You can reply to the requests. To create a new request, select "New Request" from navigation panel. To go to your profile, select "Profile". To logout, select "Log Out". <br>Have a nice experience!</p>
          </div>
          
          <div class="row">
            <h3 class="d-flex justify-content-center">
              <span>Responses</span>
            </h3>
            {% for request in object_list %}
              <div class="container bg-white border border-white shadow p-3 bg-body rounded m-2 mx-auto">
                <h5 class="lh-1">{{ request.title }}</h5>
                <p class="fw-light fst-italic lh-1">to {{ request.reciever }} on {{request.date_posted}}
                    {% if request.accept_status == 'PN' %}
                        <span class="badge rounded-pill bg-secondary">Pending</span>
                    {% elif request.accept_status == 'AC' %}
                        <span class="badge rounded-pill bg-success">Accepted</span>
                    {% else %}
                        <span class="badge rounded-pill bg-danger">Rejected</span>
                    {% endif %}
                </p>
                <a class="btn btn-outline-info btn-sm" href="{% url 'request-detail' request.id %}" role="button">View details »</a>
              </div>
            {% endfor %}
          </div>
          <div class="mb-2"></div>
          <hr>
        </div>

      </main>

    </div>
  </div>
{% endblock content %}