{% extends "requester/base.html" %}

    {% block head %}
      <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
      
      <title>Checkout example for Bootstrap</title>

      <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/checkout/">

      <!-- Bootstrap core CSS -->
      <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

      <!-- Custom styles for this template -->
      <link href="form-validation.css" rel="stylesheet">
    {% endblock %}

      {% block content %}
        <div class="container">
          <div class="py-5 text-center">
            <h1>Welcome Back!</h1>
            <p class="lead">Below is an example form built entirely with Bootstrap's form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
          </div>
    
          <div class="row">
              <h3 class="d-flex justify-content-center">
                <span>Responses</span>
              </h3>
                {% for request in StudentRequests %}
                <div class="container bg-light border rounded m-3 mx-auto">
                    <h5 class="lh-1">{{ request.title }}</h5>
                    <p class="fw-light fst-italic lh-1">to {{ request.reciever }} on {{request.date_posted}}
                        {% if request.accept_status == 'PN' %}
                            <span class="badge rounded-pill bg-secondary">Pending</span>
                        {% elif request.accept_status == 'AC' %}
                            <span class="badge rounded-pill bg-success">Accepted</span>
                        {% else %}
                            <span class="badge rounded-pill bg-danger">Rejected</span>
                        {% endif %}
                    </p>
                    <p><a class="btn btn-outline-info" href="{% url 'request-detail' request.id %}" role="button">View details »</a></p>
              </div>
            {% endfor %}
            </div>
        </div>

    </body>
    </html>

{% endblock content %}