<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<title>About Us</title>
<link rel="shortcut icon" type="image/png" href="{{MEDIA_URL}}favicon.png">
<style>
    body{
        background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
    }
</style>

<div class="container bg-light mt-5 mb-3">
            
    <!-- <div class="contact-image">
        <img src="https://static.thenounproject.com/png/1683413-200.png"/>
    </div> -->

    <h1 class="text-center my-4 text-primary">About Us</h1>
    
    <div class="row row-cols-auto row-cols-md-auto g-4">

        <div class="col-sm-3">
            <div class="card mb-3">
                <img src="https://scontent.fcmb1-1.fna.fbcdn.net/v/t1.0-9/62191168_211199573182135_6559985932395610112_o.jpg?_nc_cat=110&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=lmbkLjihduEAX-UQ2-F&_nc_ht=scontent.fcmb1-1.fna&oh=b4d8fddf95a020f9ef32c214af29bda7&oe=60704F8D" class="img-thumbnail rounded-circle" alt="...">
                <div class="card-body">
                    <p class="card-text text-center"><a type="button" class="btn btn-outline-warning" href="https://www.linkedin.com/in/supul-pushpakumara-323a38151/">Supul Kalhara</a></p>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card mb-3">
                <img src="https://media-exp1.licdn.com/dms/image/C5603AQF4lp15lEAf8Q/profile-displayphoto-shrink_800_800/0/1612895383826?e=1620864000&v=beta&t=m6_uu4QPjrJzLZ5aLYtrUa6xKwFq15mtILmgfrnaH1Y"" class="img-thumbnail rounded-circle" alt="...">
                <div class="card-body">
                    <p class="card-text text-center"><a type="button" class="btn btn-outline-success" href="https://www.linkedin.com/in/supul-pushpakumara-323a38151/">Danusha Hewagama</a></p>
                </div>
            </div>
        </div>
        
        <div class="col-sm-3">
            <div class="card mb-3">
                <img src="https://scontent.fcmb1-1.fna.fbcdn.net/v/t1.0-9/131826081_412380369962936_3469838085964267112_o.jpg?_nc_cat=108&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=KadnnzUWruAAX-dxprQ&_nc_oc=AQmFxOXuvfLRd57b_3V5jx2p9GTer98ezuedZa_8RlLMf77wmKEzen1OpYIKYlAYWTw&_nc_ht=scontent.fcmb1-1.fna&oh=db07197987ddc166c3e9b7e999611b55&oe=6071B37C" class="img-thumbnail rounded-circle" alt="...">
                <div class="card-body">
                    <p class="card-text text-center"><a type="button" class="btn btn-outline-primary" href="https://online.uom.lk/login/index.php">Chathuranga Jayanath</a></p>
                </div>
            </div>
        </div>
        
        <div class="col-sm-3">
            <div class="card mb-3">
                <img src="https://scontent.fcmb1-1.fna.fbcdn.net/v/t1.0-9/87559307_1286298818235298_5599453811321077760_o.jpg?_nc_cat=107&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=UuGc8L4ir64AX90qObf&_nc_ht=scontent.fcmb1-1.fna&oh=0e949df23cbc80cd1b0a045737b8fd1d&oe=607054F7" class="img-thumbnail rounded-circle" alt="...">
                <div class="card-body">
                    <p class="card-text text-center"><a type="button" class="btn btn-outline-dark" href="https://www.linkedin.com/in/supul-pushpakumara-323a38151/">Shilpa Perera</a></p>
                </div>
            </div>
        </div>
        
        <div class="col-sm-3">
            <div class="card mb-3">
                <img src="https://media-exp1.licdn.com/dms/image/C5603AQGIF2CpwkB8qw/profile-displayphoto-shrink_400_400/0/1616244958700?e=1621468800&v=beta&t=kpGzpGhT_efdcoxPMlRK7m_N_AMOyAVNOJOecU9wP-w" class="img-thumbnail rounded-circle" alt="...">
                <div class="card-body">
                    <p class="card-text text-center"><a type="button" class="btn btn-outline-danger" href="https://www.linkedin.com/in/kavishkagunathilaka">Kavishka Gunathilaka</a></p>
                </div>
                </div>
            </div>
        </div>

    </div>
    
    <div class="d-flex justify-content-center mb-5">
        <a type="button" class="btn btn-outline-light btn-lg" href="/">Back to Site</a>
    </div>
    
</div>



