{% extends "requester/base.html" %}
{% load crispy_forms_tags %}


{% block head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}

{% block content %}
<div class="container bootstrap snippet">

    <div class="row">
  		<div class="col-sm-10"><h1>{{user.lecturerprofile.firstName}} {{user.lecturerprofile.lastName}}</h1></div>
    </div>

    <form class="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-3">
                <div class="text-center">
                    <div class="form-group">
                        <img src="{{ user.lecturerprofile.image.url }}" class="avatar img-circle img-thumbnail" alt="avatar">
                        <h6>Upload a different photo...</h6>
                        <input type="file" name="image" class="text-center center-block file-upload form-control">
                    </div>
                </div>
                </hr>
                <br>
            </div>

            <div class="col-sm-9">         
                <div class="tab-content">
                    <div class="tab-pane active" id="home">
                        <hr>

                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="id_firstName"><h4>First name</h4></label>
                                <input type="text" class="form-control" name="firstName" maxlength="50" value="{{ user.lecturerprofile.firstName }}" id="id_firstName">
                            </div>

                            <div class="col-xs-6">
                                <label for="id_lastName"><h4>Last name</h4></label>
                                <input type="text" class="form-control" name="lastName" maxlength="50" value="{{ user.lecturerprofile.lastName }}" id="id_lastName">
                            </div>

                            <div class="col-xs-6">
                                <label for="id_department"><h4>Department</h4></label>
                                <select name="department" class="select form-control" id="id_department">
                                    <option value="{{ user.lecturerprofile.department }}">---------</option>
                                    <option value="EN">ENTC</option>
                                    <option value="CS">CSE</option>
                                    <option value="BM" selected="">BM</option>
                                    <option value="ME">ME</option>
                                    <option value="MT">MT</option>
                                    <option value="CH">CH</option>
                                    <option value="EE">EE</option>
                                    <option value="CE">CE</option>
                                    <option value="MA">MA</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-12">
                                <br>
                                <button class="btn btn-lg btn-success" type="submit">Update</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>    
    </form> 

</div>           


    <!--div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ user.lecturerprofile.image.url }}">
            <div class="media-body">
                <h2 class="account-heading">{{ user.email }}</h2>
                <p class="text-secondary">username@gmail.com</p>
            </div>
        </div>
    </div-->
    <!-- <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Profile Info</legend>
            {{ lp_form|crispy }}
        </fieldset>
        <div class="form-group mt-3">
            <button class="btn btn-outline-info" type="submit">Update</button>
        </div>
    </form> -->
{% endblock content %}