{% load crispy_forms_tags %}
{% block head %}
{% load crispy_forms_tags %}
    <link rel="shortcut icon" href="https://freepngimg.com/thumb/logo/62837-instagram-icons-photography-computer-logo-icon.png" />
    <title> SE7EN </title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <style>
    body {
        margin: 0;
        padding: 0;
        background-color: #17a2b8;
        height: 100vh;
    }
    #login .container #login-row #login-column #login-box {
        margin-top: 120px;
        max-width: 600px;
        height: 250px;
        border: 1px solid #9C9C9C;
        background-color: #EAEAEA;
    }
    #login .container #login-row #login-column #login-box #login-form {
        padding: 20px;
    }
    #login .container #login-row #login-column #login-box #login-form #register-link {
        margin-top: -85px;
    }

    </style>
    {% endblock %}

    {% block content %}
    {% if messages %}
        <div class="alert alert-success" role="alert">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </div>
    {% endif %}

    <div id="login">
        <h1 class="text-center text-white pt-5"> WebApp </h1>
        <div class="fadeIn first">
        </div>
        
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post">
                            {% csrf_token %}
                            <h3 class="text-center text-info">Reset Password</h3>
                            <div class="form-group">
                                <label for="username" class="text-info">Email:</label><br>
                                <input type="email" name="email" id="id_email" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="submit" name="Login" class="btn btn-info btn-md mt-3" value="Reset Password">
                                <a name="Login" class="btn btn-info btn-md mx-3 mt-3" href="{% url 'login' %}">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer class="my-5 pt-5 text-muted text-center text-small fixed-bottom">
        <p class="mb-1 text-white">Group Se7en</p>
        <ul class="list-inline">
        <li class="list-inline-item"><a class="text-reset text-center text-white" href="#">Help</a></li>
        </ul>
    </footer>
    {% endblock content %}
</html>


